<html>
    <head>
        <title>Download ARTE videos</title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <meta name="description" content="Download any arte.tv video for free without any ads!" />
        <link rel="icon" href="arte.png" /> 
    </head>
    <body class="bg-purple-200">

        <div id="app" class="container mx-auto flex items-center justify-center h-screen">
            <div class="text-center bg-pink-400 font-bold rounded-lg border shadow-lg p-10">
                <input v-model="videoLink" placeholder="Arte.tv video URL" class="rounded p-2" />
                <select v-model="videoQuality" class="rounded p-2">
                    <option disabled value="">Quality</option>
                    <option>HQ</option>
                    <option>SQ</option>
                </select>
                <select v-model="versionCode" class="rounded p-2">
                    <option disabled value="">Version</option>
                    <option>VOF</option>
                    <option>VA-STA</option>
                    <option>VFAUD</option>
                </select>
                <a v-if="showLink" v-bind:href="linkHref">
                    <button v-on:click="showLink = false" class="bg-green-600 font-bold py-2 px-4 rounded text-white">{{ linkTitle }}</button>
                </a>
                <button v-else v-on:click="download" class="bg-pink-600 font-bold py-2 px-4 rounded text-white" v-bind:class="btnClass" v-bind:disabled="!enabled">Download</button>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            const jsonBaseURL = 'https://api.arte.tv/api/player/v2/config/fr/';

            new Vue({
                el: '#app',
                data () {
                    return {
                        videoLink: '',
                        videoQuality: '',
                        versionCode: '',

                        showLink: false,
                        linkHref: '',
                        linkTitle: ''
                    }
                },
                computed: {
                    enabled () {
                        return this.videoLink && this.videoQuality && this.versionCode;
                    },
                    btnClass () {
                        return !this.enabled ? 'opacity-50' : '';
                    }
                },
                methods: {
                    download () {
                        const parsedLink = this.videoLink.match(/arte\.tv\/fr\/videos\/([a-zA-Z0-9-]+)/);
                        if (!parsedLink) return alert("L'URL n'est pas une URL Arte.tv valide.");
                        const videoID = parsedLink[1];
                        axios.get(`${jsonBaseURL}/${videoID}`).then(response => {
                            console.log(response.data)
                            const data = response.data.videoJsonPlayer;
                            const title = data.VTI
                            const flux = Object.keys(data.VSR)
                            const video = data.VSR[flux.find((f) => data.VSR[f].versionCode === this.versionCode)];
                            this.linkHref = video.url;
                            this.linkTitle = `Click here to download ${title}`;
                            this.showLink = true;
                        }).catch(() => alert('Video Arte.tv introuvable.'));
                    }
                }
            })
        </script>
    </body>
</html>
